@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
html, body{
    height: 100vh;
    width: 100vw;
}
body{
    background-color: lightgray;
}
main{
    background: url('../imagens/fundo-madeira.jpg') center top;
    background-size: cover;
    height: 100vh;
}
section#celular{
    width: 311px;
    height: 627px;
    background-image: url('../imagens/frame-iphone.png');
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
iframe{
    background-color: lightgray;
    position: relative;
    width: 267px;
    height: 471px;
    top: 80px;
    left: 22px;
}
section#app{
    text-align: right;
}
section img{
    width: 50px;
    border-radius: 50%;
    margin: 10px;
    box-sizing: border-box;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.411);
}
section img:hover{
    border: 2px solid white;
    transform: translate(-3px,-3px);
    transition:transform .5s,border 1s;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.514);
}